.campaigns-filter .elgg-state-disabled > a {
	cursor: not-allowed;
}
.campaigns-gallery {
    display: flex;
    flex-wrap: wrap;
}
.campaigns-gallery > li {
    flex: 0 1 50%;
    padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.campaigns-sidebar .campaigns-gallery > li {
	flex: 1 1 100%;
	padding: 0;
}
.campaigns-card {
	border: 1px solid #dcdcdc;
}

.campaigns-card img {
    width: 100%;
    height: auto;
}

.campaigns-card-head,
.campaigns-card-body {
	padding: 10px;
}

.campaigns-card-head .campaigns-status {
    float: right;
    font-size: 13px;
    background: #f4f4f4;
    padding: 3px 6px;
    border-radius: 3px;
	color: #666;
}
.campaigns-card-head .campaigns-status.campaigns-state-active {
	background: #43AC6A;
	color: #fff;
}

.campaigns-profile {
    display: flex;
    flex-wrap: nowrap;
	justify-content: space-between;
}

.campaigns-main {
    flex: 0 0 64%;
}

.campaigns-sidebar {
    flex: 0 0 35%;
}

.campaigns-cover-video iframe {
    max-width: 100%;
}

.campaigns-table select {
    width: auto;
}

.campaigns-table tr > td,
.campaigns-table tr > th {
    width: auto;
	vertical-align: middle
}

.campaigns-table tr > td:first-child {
	width: auto;
}

.campaigns-table .elgg-text-help {
    font-size: 12px;
    line-height: normal;
    font-style: italic;
}

.campaigns-give-item-minimimum-donation {
    margin: 0 10px;
    font-weight: bold;
    vertical-align: middle;
    line-height: normal;
}

span.campaigns-give-item-stock {
    font-size: 90%;
    font-style: italic;
    vertical-align: middle;
    line-height: normal;
}

.campaigns-give-item-title {
    font-size: 18px;
    vertical-align: middle;
    line-height: normal;
}

.campaigns-payment-methods img {
	max-height: 16px;
    display: inline;
    line-height: normal;
    vertical-align: middle;
}

.campaigns-stats,
.campaigns-actions {
    padding: 10px;
}

.campaigns-progress-container {
    display: block;
    height: 15px;
    background: #ccc;
    border-radius: 10px;
    margin: 10px auto;
    position: relative;
	overflow: hidden;
}

.campaigns-progress-bar {
    display: block;
    height: 15px;
    background: #43AC6A;
    border-radius: 10px;
	min-width: 1%;
	max-width: 100%;
}

.campaigns-stats-counters > div {
	display: inline-block;
	padding: 5px 15px 5px 0;
	font-size: 12px;
}

.campaigns-stats-counters > div > .campaigns-stats-counter {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.elgg-form-campaigns-edit-about .elgg-fieldset-horizontal .elgg-field,
.elgg-form-campaigns-edit-reward .elgg-fieldset-horizontal .elgg-field {
    max-width: 32%;
    vertical-align: top;
}
.elgg-form-campaigns-edit-about .elgg-fieldset-horizontal .elgg-field label {
	display: block;
}
.campaigns-module,
.campaigns-sidebar .elgg-no-results {
    border: 1px solid #dcdcdc;
    background: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	margin-bottom: 2%;
	padding: 10px;
}

.campaigns-cover-video {
	margin-bottom: 2%;
}

.campaigns-sidebar .campaigns-rewards > li {
	background: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	margin-bottom: 2%;
}

.campaigns-data-item {
	padding: 5px 20px;
}
.campaigns-data-item .elgg-icon {
	color: inherit;
	width: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
	vertical-align: middle;
}
.campaigns-data-item .campaigns-data-item-value {
	line-height: 20px;
	vertical-align: middle;
}

.campaigns-card-head .elgg-menu {
    float: right;
}

.elgg-menu-campaign-profile > li:not(:last-child) {
    margin-right: 5px;
}

.elgg-menu-campaigns-about-rules > li {
    margin: 10px 0px;
    font-weight: bold;
}

.campaigns-data-item-value > ul,
.campaigns-data-item-value > .clearfix {
    display: inline-block;
    vertical-align: middle;
}

.campaigns-cover-image img {
    width: 100%;
    margin-bottom: 2%;
}

.campaigns-module .elgg-menu-page .elgg-icon {
    color: #333;
    width: 30px;
    text-align: center;
    float: right;
    vertical-align: middle;
    line-height: 20px;
}

.campaigns-module .elgg-menu-page a {
    padding: 5px 15px;
    margin: 0;
}

.campaigns-module .elgg-menu-page a:hover {
    background: #f2f2f2;
    color: #333;
}

@media screen and (max-width: 768px) {
	.campaigns-profile {
		flex-wrap: wrap;
	}

	.campaigns-main {
		flex: 1 1 100%;
	}

	.campaigns-sidebar {
		flex: 1 1 100%;
	}

	.campaigns-gallery > li {
		flex: 1 1 100%;
	}
}